<div class="tab-content">
	<div class="tab-pane fade in active" id="all">
		<%- include index-body-center-article-blog %>
	</div>
	<div class="tab-pane fade" id="original"></div>
	<div class="tab-pane fade" id="image"></div>
	<div class="tab-pane fade" id="video"></div>
	<div class="tab-pane fade" id="music"></div>
</div>
<div class="text-center">
	<ul class="pagination pagination">
		<li><a href="javascript:;">&laquo;第一页</a></li>
		<li><a href="javascript:;">11</a></li>
		<li><a href="javascript:;">12</a></li>
		<li class="active"><a href="javascript:;">13</a></li>
		<li><a href="javascript:;">14</a></li>
		<li><a href="javascript:;">15</a></li>
		<li class="disabled"><a href="javascript:;">最后一页&raquo;</a></li>
	</ul>
</div>