<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="javascript:;" class="navbar-brand">微博</a>
		</div>
		<div class="collapse navbar-collapse navbar-responsive-collapse navbar-right">
			<ul class="nav navbar-nav">
				<li>
					<form class="navbar-form navbar-left" role="search">
	            		<div class="input-group">
							<input type="text" class="form-control" placeholder="Search">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Go!</button>
							</span>
						</div>
					</form>
				</li>
		  		<li class="active"><a href="/">首页</a></li>
		  		<li><a href="##">发现</a></li>
			<% if (user) { %>
		        <li class="dropdown">
		           <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><%= user.username %><b class="caret"></b></a>
		           <ul class="dropdown-menu">
						<li><a href="javascript:;">设置</a></li>
						<li><a href="/logout">退出登录</a></li>
		           </ul>
		        </li>
			<% } else { %>
		  		<li><a href="javascript:;" data-toggle="modal" data-target="#login">登录</a></li>
		  		<li><a href="javascript:;" data-toggle="modal" data-target="#reg">注册</a></li>
			<% } %>
		 	</ul>
		</div>
	</div>
</div>