<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<title>weibo</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<style>
	body {padding:75px 0 0 0;}
	.media-object {width:50px;}
	.post-comment {width:90%;margin:0 auto;margin-top:20px;}
</style>
<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

<script src="/javascripts/jquery.uploadify.min.js"></script>
</head>
<body>
	<% if (success) { %>
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<div><%= success %></div>
		</div>
	<% } %>
	<% if (error) { %>
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<span><%= error %></span>
		</div>
	<% } %>
