<% posts.forEach(function (post, index) { %>
<div class="post-message panel panel-default">
	<div class="post-article media panel-body">
		<a class="pull-left" href="javascript:;"><img class="media-object img-circle" src="/images/header.jpg" alt="媒体对象"></a>
		<div class="media-body">
			<div class="post-info">
				<a class="post-author media-heading" href="/u/<%= post.author %>"><strong><%= post.author %></strong></a>
				<small class="text-xs"><%= post.time.minute %></small>
			</div>
			<% if (user && (user.username === post.author)) { %>
			<a class="remove-btn btn btn-default pull-right" href="javascript:;" data-href="/remove/<%= post.author %>/<%= post.time.day %>/<%= post._id %>">remove</a>
			<% } %>
			<div class="post-article-content media"><%- post.content %></div>
			<% if (post.refer && (post.refer !== "")) { %>
			<div class="media well well-default">
				<a href="javascript:;" class="post-article-refer" href="/edit/<%= post.author %>/<%= post.time.day %>/<%= post._id %>"><%= post.refer %></a>
			</div>
			<% }%>
		</div>
	</div>
	<div class="btn-group btn-group-justified">
        <a class="btn" href="javascript:;"><span class="glyphicon glyphicon-star"></span>&nbsp收藏</a>
        <a class="btn refer-btn" href="javascript:;" data-toggle="modal" data-target="#refer"><span class="glyphicon glyphicon-plus"></span>&nbsp转发</a>
        <a class="btn comment-btn" href="javascript:;" data-href="/comment/<%= post.author %>/<%= post.time.day %>/<%= post._id %>"><span class="glyphicon glyphicon-comment"></span>&nbsp评论</a>
        <a class="btn" href="javascript:;"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp赞</a>
	</div>
	<div class="post-comment media" style="display:none">
		<a class="pull-left" href="javascript:;"><img class="media-object img-circle" src="/images/header.jpg" alt="媒体对象"></a>
		<form class="comment-form media-body form">
			<div class="form-group">
				<textarea name="content" class="comment-content form-control" rows="1"></textarea>
			</div>
			<div class="form-group">
				<a class="comment-post-btn btn btn-primary btn-xs pull-right" data-href="/comment/<%= post.author %>/<%= post.time.day %>/<%= post._id %>">发布</a>
			</div>
		</form>
		<div class="post-comment-list"></div>
	</div>
</div>
<% }) %>