<div class="modal fade" id="refer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">转发微博</h4>
			</div>
			<div class="modal-body">
				<form id="repost-form" method="post" role="form">
					<p>有什么新鲜事想告诉大家？</p>
					<div class="form-group">
						<input id="repost-refer" class="form-control" name="refer" readonly="readonly">
					</div>
					<div class="form-group">
						<input id="repost-contentHTML" type="hidden" name="contentHTML">
						<textarea id="repost-content" class="form-control" name="content" rows="4" placeholder="请小于一百字" autofocus="true"></textarea>
						<textarea id="repost-recontent" class="form-control" name="recontent" rows="2" readonly="readonly"></textarea>
					</div>
					<div class="form-group text-right">
						<a id="repost-btn" data-href="/repost" data-dismiss="modal" class="btn btn-primary">发布</a>
					</div>
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->