<% if (user) { %>
<div>
	<form id="post-form" method="post" role="form">
		<p>有什么新鲜事想告诉大家？</p>
		<div class="form-group">
			<textarea id="post-content" name="content" class="form-control" rows="4" placeholder="请小于一百字"></textarea>
		</div>
		<div class="form-group">
			<button class="upload-pic btn btn-success" type="button" title="选择图片"  
			   data-container="body" data-toggle="popover" data-placement="bottom" 
			   data-content="<a id='uploadify' name='uploadify' href='javascript:;'>选择文件</a>">图片
			</button>
<!-- 			<a class="btn btn-default" id="upload-pic-btn" data-href="/upload" href ="javascript:$('#uploadify').uploadify('upload')">上传</a>
			<a class="btn btn-default" id="upload-btn" href ="javascript:$('#uploadify').uploadify('cancel')">取消上传</a> -->
			<a class="btn btn-primary pull-right" id="post-btn" href="javascript:;" data-href="/post">发布</a>
		</div>
		<div id="fileList" style="margin-top: 10px; padding-top:10px; border-top:1px solid #C0C0C0;font-size: 13px; width:400px"></div>
	</form>
	<hr>
</div>
<% } %>