<div class="panel panel-default">
	<div class="list-group panel-body">
		<a href="/" class="list-group-item">首页</a>
		<a href="javascript:;" class="list-group-item">消息</a>
		<a href="javascript:;" class="list-group-item">收藏</a>
		<a href="javascript:;" class="list-group-item">赞</a>
	</div>
</div>