<% post.comments.forEach(function (comment, index) { %>
<div class="panel media">
	<div class="panel-body media">
		<a class="pull-left" href="javascript:;"><img class="media-object img-circle" src="images/header.jpg" alt="媒体对象"></a>
		<div class="media-body">
			<p><strong><a href="javascript:;"><%= comment.author %></a></strong><span>://</span><%= comment.content %></p>
			<span><%= comment.time %></span>
			<div class="btn-group pull-right">
		        <a class="btn" href="javascript:;">回复</a>
		        <a class="btn" href="javascript:;">赞</a>
			</div>
		</div>
	</div>
</div>
<% }) %>