<div>
	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a href="javascript:;" data-toggle="tab" data-target="#all">全部</a></li>
		<li><a href="javascript:;" data-toggle="tab" data-target="#original">原创</a></li>
		<li><a href="javascript:;" data-toggle="tab" data-target="#image">图片</a></li>
		<li><a href="javascript:;" data-toggle="tab" data-target="#video">视频</a></li>
		<li><a href="javascript:;" data-toggle="tab" data-target="#music">音乐</a></li>
	</ul>
</div>