<%- include index-header %>
<div class="container">
	<%- include index-nav %>
	<div class="row">
		<div class="col-md-2 column">
			<%- include index-body-left %>
		</div>
		<div class="col-md-7 column">
			<%- include index-body-center-post %>
			<%- include index-body-center-nav %>
			<%- include index-body-center-article %>
		</div>
		<div class="col-md-3 column">
			<%- include index-body-right %>
		</div>
	</div>
</div>
<%- include index-repost %>
<%- include login %>
<%- include reg %>
<%- include index-footer %>