<% if (interviewee) { %>
<div class="panel panel-default">
	<div class="media panel-body">
		<div class="text-center">
			<a id="interviewee-headpic" class="pull-left" href="/u/<%= interviewee.username %>"><img class="media-object img-circle" src="/images/header.jpg" alt="媒体对象"></a>
		</div>
		<div class="text-center">
			<a id="interviewee-nickname" href="/u/<%= interviewee.username %>"><%= interviewee.username %></a>
		</div>
		<div class="media-body btn-group btn-group-justified">
			<a class="btn" href="javascript:;">关注</a>
			<a class="btn" href="javascript:;">粉丝</a>
			<a class="btn" href="javascript:;">微博</a>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>热门话题</h4>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled">
			<li># somebody used to know #</li>
			<li># somebody used to know #</li>
			<li># somebody used to know #</li>
			<li># somebody used to know #</li>
			<li># somebody used to know #</li>
		</ul>
	</div>
	<div class="panel-footer text-center">
		<a href="javascript:;">查看更多&nbsp&gt</a>
	</div>
</div>
<% } %>