<div class="modal fade" id="login">
    <div class="modal-dialog">
        <div class="modal-content col-sm-8">
            <div class="modal-header">Login</div>
			<div class="modal-body">
				<form id="login-form" method="post" role="form"  action="/login">
					<div class="form-group">
						<input class="form-control" type="text" id="username" name="username" placeholder="username"><br>
					</div>
					<div class="form-group">
						<input class="form-control" type="password" name="password" id="password" placeholder="password">
					</div>
					<div class="form-group text-right">
	  					<a class="btn btn-default" href="javascript:;" data-toggle="modal" data-target="#reg" data-dismiss="modal">注册</a>
						<button id="login-post" class="btn btn-primary" type="submit">Login</button>
					</div>
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
</script>