<div class="modal fade" id="reg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Reg</div>
			<div class="modal-body">
				<form id="reg-form" action="/reg" method="post" role="form">
					<div class="form-group">
						<input class="form-control" type="text" id="username" name="username" placeholder="username"><br>
					</div>
					<div class="form-group">
						<input class="form-control" type="password" name="password" id="password" placeholder="password">
					</div>
					<div class="form-group">
						<input class="form-control" type="password" name="password-rep" id="password-rep" placeholder="password-rep">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="email" id="email" placeholder="email">
					</div>
					<div class="form-group text-right">
	  					<a class="btn btn-default" href="javascript:;" data-toggle="modal" data-target="#login" data-dismiss="modal">登录</a>
						<button id="reg-post" class="btn btn-primary" type="submit">Reg</button>
					</div>
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->