<%- include index-header %>
<div class="container">
	<%- include index-nav %>
	<% if (user && user.username !== interviewee.username) { if (followed) { %>
	<div class="well well-lg text-center"><a href="/unfollow/<%= interviewee.username %>">UNFOLLOW</a></div>
	<% } else { %>
	<div class="well well-lg text-center"><a href="/follow/<%= interviewee.username %>">FOLLOW+</a></div>
	<% }} %>
	<div class="row">
		<div class="col-sm-4 column">
			<%- include index-body-right %>
		</div>
		<div class="col-sm-8 column">
			<%- include index-body-center-article-blog %>
		</div>
	</div>
</div>
<%- include index-repost %>
<%- include login %>
<%- include reg %>
<%- include index-footer %>